.flashes {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.flash {
  border-radius: 5px;
  margin: 10px;
  text-align: center;
  justify-content: stretch;
  opacity: 1;
  animation: fade 6s linear;
}

.flash--info {
  border: 5px solid #aaa;
}

.flash--success {
  border: 5px solid green;
}

.flash--error {
  border: 5px solid red;
}

/*** Animations ***/
@keyframes fade {
  0% { opacity: 0 }
  20%, 80% { opacity: 1 }
  100% { opacity: 0 }
}

/*** Media Query Breakpoints ***/
/* Default Styling is for Extra Small Devices, Phones */

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .flashes {
    width: 70%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .flashes {
    width: 60%;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .flashes {
    width: 50%;
  }
}
