.meetingForm {
  width: 50%;
  margin: 0 auto;

  h2 {
    text-align: center;
  }
}

.meetingForm__body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  input, select {
    margin: 3px 0px 10px 0px;
  }
}
