.nav__section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5%;
}

.nav__item {
  width: 105px;
  height: 105px;
  list-style: none;
  i {
    font-size: 75px;
    color: #56332B;
    margin-top: 2%;
    margin-left: 1%;
  }
}

.nav__link--logo {
  text-align: center;
  text-decoration: none;
  color: black;

  .nav__title {
    display: block;
    margin-right: 30px;
    font-family: 'Libre Baskerville'
  }
}
