.nav-icon {
  width: 105px;
  height: 105px;
  list-style: none;
  i {
    font-size: 75px;
    color: #56332B;
    margin-top: 2%;
    margin-left: 1%;
  }
}

.nav-title {
  display: block;
  margin-right: 30px;
  font-size: 12px;
  font-family: 'Libre Baskerville';
  text-align: center;
}
